In [17]:
"""
Day 2 of kaggle's SQL Scavenger
"""

from google.cloud import bigquery
import pandas as pd

def get_rows_as_dataframe(client, project, dataset, table, max_rows=5):
    table_ref = client.dataset(dataset, project=project).table(table)
    table_schema = [s for s in client.get_table(table_ref).schema]
    cols = [s.name for s in table_schema]
    results = client.list_rows(table_ref, max_results=max_rows, selected_fields=table_schema)
    return pd.DataFrame(
        data=[x.values() for x in results], columns=cols)

client = bigquery.Client()
get_rows_as_dataframe(client, 'bigquery-public-data', 'hacker_news', 'comments')

,id,by,author,time,time_ts,text,parent,deleted,dead,ranking
0,2701393,5l,5l,1309184881,2011-06-27 14:28:01+00:00,And the glazier who fixed all the broken windo...,2701243,None,None,0
1,5811403,99,99,1370234048,2013-06-03 04:34:08+00:00,Does canada have the equivalent of H1B/Green c...,5804452,None,None,0
2,21623,AF,AF,1178992400,2007-05-12 17:53:20+00:00,"Speaking of Rails, there are other options in ...",21611,None,None,0
3,10159727,EA,EA,1441206574,2015-09-02 15:09:34+00:00,Humans and large livestock (and maybe even pet...,10159396,None,None,0
4,2988424,Iv,Iv,1315853580,2011-09-12 18:53:00+00:00,I must say I reacted in the same way when I re...,2988179,None,None,0